<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>Faux Blackbaud</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <style>
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
      }
      li {
        float: left;
      }
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      li a:hover {
        background-color: #111;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <ul>
        <li><a href="../">Home</a></li>
        <li><a href="../viewAssignments">View Assignments</a></li>
        <li><a href="../viewProfile">View Profile</a></li>
        <li><a class="active" href="../changePassword1">Change Password</a></li>
      </ul>
      {% block content %}
        <h2>Change Password</h2>
        <form action ="{% url 'changePassword'%}" method="POST">
          {% csrf_token %}
          {{ ChangePasswordForm }}
          <button type="submit" name="changePassword">Submit</button>
        </form>
      {% endblock %}
    </div>
  </body>
</html>
