<!DOCTYPE html>
<!-- To load css -->
{% load static %}
<html lang="en-US">
  <head>
    <title>Faux Blackbaud</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{% static 'assignments/navbar.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div class="container">
      <!-- Nav bar -->
      <ul>
        <li><a href="../">Home</a></li>
        <li><a href="../viewAssignments">View Assignments</a></li>
        <li><a href="../viewProfile">View Profile</a></li>
        <li><a class="active" href="../changePassword1">Change Password</a></li>
        <li><a href="../makeAssignments1">Make Assignments</a></li>
      </ul>
      {% block content %}
        <h2>Change Password</h2>
        <!-- Form to change passcode, links from changePassword1 to changePassword-->
        <form action ="{% url 'changePassword'%}" method="POST">
          {% csrf_token %}
          <!-- Call form -->
          {{ ChangePasswordForm }}
          <button type="submit" name="changePassword">Submit</button>
        </form>
      {% endblock %}
    </div>
  </body>
</html>
