<!DOCTYPE html>
<!-- To load css -->
{% load static %}
<html lang="en-US">
  <head>
    <title>Faux Blackbaud</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{% static 'assignments/navbar.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div class="container">
      <!-- Home page is different for those who are authenticated and those who are not-->
      {% if request.user.is_authenticated %}
        <!-- Nav bar -->
        <ul>
          <li><a class="active" href="../assignments">Home</a></li>
          <li><a href="../assignments/viewAssignments">View Assignments</a></li>
          <li><a href="../assignments/viewProfile">View Profile</a></li>
          <li><a href="../assignments/changePassword1">Change Password</a></li>
          <li><a href="../assignments/makeAssignments1">Make Assignments</a></li>
        </ul>

        <h1>Home</h1>

        <!-- Logout form -->
        <form style="padding-bottom:1em;" method="POST">
          {% csrf_token %}
          <input type="hidden" name="logout" value="logout"></input>
          <button type="submit" class="btn btn-danger">Logout</button>
        </form>

      <!-- Homepage is a login form for those who are not signed in and has a button to sign up-->
      {% else %}
        <h1>Home</h1>
        <h3>Log-in</h3>
        <!-- Login form-->
        <form style="padding-bottom:1em;" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label for="inputUsername">Username</label>
            <input type="text" class="form-control" name="inputUsername" id="inputUsername" value=""/>
          </div>
          <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" class="form-control" name="inputPassword" id="inputPassword" />
          </div>

          <button type="submit" class="btn btn-danger">Login</button>
        </form>
        <!-- Button to sign up-->
        <button onclick="location.href='../assignments/signUp/'" type="button">Sign Up</button>
      {% endif %}
    </div>
  </body>
</html>
