<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>Faux Blackbaud</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <style>
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
      }
      li {
        float: left;
      }
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      li a:hover {
        background-color: #111;
      }
    </style>
  </head>

  <body>
    <div class="container">
      {% if request.user.is_authenticated %}
        <ul>
          <li><a class="active" href="../assignments">Home</a></li>
          <li><a href="../assignments/viewAssignments">View Assignments</a></li>
          <li><a href="../assignments/viewProfile">View Profile</a></li>
          <li><a href="../assignments/changePassword">Change Password</a></li>
        </ul>

        <h1>Home</h1>

        <form style="padding-bottom:1em;" method="POST">
          {% csrf_token %}
          <input type="hidden" name="logout" value="logout"></input>
          <button type="submit" class="btn btn-danger">Logout</button>
        </form>

      {% else %}
        <h1>Home</h1>
        <h3>Log-in</h3>
        <form style="padding-bottom:1em;" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label for="inputUsername">Username</label>
            <input type="text" class="form-control" name="inputUsername" id="inputUsername" value=""/>
          </div>
          <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" class="form-control" name="inputPassword" id="inputPassword" />
          </div>

          <button type="submit" class="btn btn-danger">Login</button>
        </form>

        <button onclick="location.href='../assignments/signUp/'" type="button">Sign Up</button>
      {% endif %}
    </div>
  </body>
</html>
